<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    
    <!-- Navbar Brand-->
    <!-- Sidebar Toggle-->
    <a class="navbar-brand ps-3" href="index"><img src="/static/images/logoN.png" alt="logo" style="height: 50px;"> Estación meteorológica <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button></a>
</nav>