<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">GENERAL</div>
                <a class="nav-link" href="index">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Inicio
                </a>
                <a class="nav-link" href="tablaDatosMeteorologicos">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tabla Datos Meteorol칩gicos
                </a>

                <a class="nav-link" href="tablaDatosPrecipitaciones">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tabla Datos Precipitaciones
                </a>

                <div class="sb-sidenav-menu-heading">DATOS MENSUALES</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Detalles mensuales
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/temperaturam">Temperatura</a>
                        <a class="nav-link" href="/precipitacionesm">Precipitaciones</a>
                        <a class="nav-link" href="/presionm">Presi칩n</a>
                        <a class="nav-link" href="/radiacionm">Radiaci칩n Ultravioleta</a>
                        <a class="nav-link" href="/humedadm">Humedad</a>
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">INFO PROYECTO</div>
                <a class="nav-link" href="about">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Sobre el proyecto
                </a>
                <a class="nav-link" href="images">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Im치genes
                </a>
                <a class="nav-link" href="https://somosdelprieto.com/" target="_blank">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Pagina Web Instituto
                </a>
                
            </div>
        </div>
        <div>
            <img src="static/images/logo.png" alt="IESPRIETO" class="logo">
            <div class="small">IES Gregorio Prieto</div>
            <div class="small">Curso 2020-2021</div>
        </div>
    </nav>
</div>